body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(12, 1fr);
    grid-gap: 20px;
}

.center {
    justify-content: center;
    text-align: center;
}

header {
    background-color: rgb(27, 110, 189);
    grid-area: 1 / 1 / 1 / 13;
}

header nav {
    text-align: center;
}

header nav ul li{
    display: inline;
    padding: 0 20px;
}

nav li a{
    font-weight: 600;
    text-decoration:none;
    font-size: 1.25rem;
    color: white;
}

.hero {
    background: url('./hero.jpeg') no-repeat center;
    grid-area: 2 / 1 / 7 / 13;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 2.5rem;
}
.hero h2 {
    font-size: 2rem;
}
.hero h3 {
    font-size: 1.5rem;
}

.call-to-action {
    background-color: tomato;
}

.c-t-a-a {
    grid-area: 6 / 4 / 8 / 10;
    color: white;
    font-size: 1.25rem;
}

.btn {
    background-color: transparent;
    border: white solid 2px;
    padding: 5px 15px;
    border-radius: 3px;
    color: white;
    font-size: 1.25rem;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.527);
    opacity: 0.9;
}

.what-we-do {
    grid-area: 8 / 1 / 11 / 13;
    display: flex;
    justify-content: space-evenly;
}

.box {
    background-color: darkgray;
    padding: 30px;
    text-align: center;
    margin: 10px;
    flex-basis: 100%;
}

@media only screen and (max-width: 786px) {
    .what-we-do {
        grid-area: 8 / 1 / 20 / 13;
        flex-flow: wrap;
    }
}
